<div class="form-group">
    <a routerLink="/entidad" class="btn btn-primary">Atrás</a>
</div>
<div class="form-group" style="text-align: right;">
    <button type="button" class="btn btn-primary">Anterior</button>
    <button type="button" class="btn btn-primary">Siguiente</button>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <th style="text-align: center" *ngFor="let columna of reporte.columnas">
            {{columna}}
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let registro of reporte.datos">
            <td *ngFor="let dato of registro">
                {{dato}}
            </td>
        </tr>
    </tbody>
</table>