/Java/WSADemo/WSADemoCommons/WSADemoEntity/target/
/Java/WSADemo/WSADemoCommons/WSADemoCommon/target/
/Java/WSADemo/WSADemoNegocio/WSADemoEJB/target/
/Java/WSADemo/WSADemoNegocio/WSADemoEAR/target/
/Java/WSADemo/WSADemoWEB/target/